<div class="card max-w-xl">
  <h1 class="text-center text-3xl font-semibold">New <%= model_resource_name.titleize %></h1>

  <%%= render "form", <%= model_resource_name %>: @<%= model_resource_name %> %>
</div>
