<h1 class="mb-4 text-center text-3xl font-semibold">Artists</h1>

<%= card do %>
  <%= data_table collection: @artists, namespace: :admin, pagy: @pagy do |table| %>
    <% table.column :name do |artist| %>
      <%= primary_link_to artist.name, edit_admin_artist_path(artist), class: "hover:underline font-medium" %>
    <% end %>

    <% table.column "", sortable: false, cell_class: "text-right" do |artist| %>
        <%= danger_link_to artist.shows.any? ? "Deactivate" : "Delete",
                             [:admin, artist],
                             data: { turbo_method: "DELETE" },
                             class: "text-sm" if artist.active? %>
    <% end %>
  <% end %>
<% end %>
