<h1 class="text-center text-3xl font-semibold mb-4">Artists</h1>

<%= card do %>
  <%= data_table collection: @artists, namespace: :admin, pagy: @pagy do |table| %>
    <% table.column :name do |artist| %>
      <%= link_to artist.name, edit_admin_artist_path(artist), class: "text-amber-500 hover:underline hover:text-amber-600 font-medium" %>
    <% end %>

    <% table.column "", sortable: false do |artist| %>
      <% render "shared/dropdown", { id: dom_id(artist, :admin) } do %>
        <%= dropdown_link_to artist.shows.any? ? "Deactivate" : "Delete",
                             [:admin, artist],
                             data: { turbo_method: "DELETE" },
                             class: "block px-4 py-2 hover:bg-gray-100 text-sm text-red-500 hover:text-red-700" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
