<h1 class="mb-4 text-center text-3xl font-semibold">Artists</h1>

<%= card do %>
  <%= data_table collection: @artists, namespace: :admin, pagy: @pagy do |table| %>
    <% table.column :name do |artist| %>
      <%= link_to artist.name,
                  edit_admin_artist_path(artist),
                  class: "link primary font-medium" %>
    <% end %>

    <% table.column "", sortable: false, cell_class: "text-right" do |artist| %>
      <%= link_to artist.shows_count.positive? ? "Deactivate" : "Delete",
                  [:admin, artist],
                  data: { turbo_method: "DELETE" },
                  class: "link danger text-sm" if artist.active? %>
    <% end %>
  <% end %>
<% end %>
