<tr id="<%= dom_id(merch_category, :admin) %>">
  <td class="table-td text-indigo-600">
    <%= link_to merch_category.name, edit_admin_merch_category_path(merch_category), data: { turbo: true, turbo_stream: true } %>
  </td>
  <td class="table-td text-gray-900 text-right sm:pr-6">
    <%= render "shared/dropdown", { id: dom_id(merch_category, :admin)} do %>
      <%= dropdown_link_to "Delete", [:admin, merch_category], data: { turbo_method: "delete", turbo: true } %>
    <% end %>
  </td>
</tr>