<%= render "shared/modal", title: "Seat Holds", stay_open_on_successful_submit: true do %>
  <!--TABLE HEADER-->
  <div class="relative overflow-x-auto p-4">
    <div class="pb-4 bg-white">
      <%= form_with url: reserved_seating_show_seat_holds_url(@show),
                    scope: :search,
                    method: :get,
                    data: { turbo: true, turbo_frame: :seat_holds } do |form| %>
        <label for="table-search" class="sr-only">Search</label>
        <%= keyword_search_field(form) %>
      <% end %>
    </div>

    <%= render "reserved_seating_shows/seat_holds/seat_holds", show: @show, held_seats: @held_seats, pagy: @pagy %>
  </div>
<% end %>
