<h1 class="mb-4 text-center text-3xl font-semibold">
  Shows
</h1>

<%= card do %>
  <%= data_table collection: @shows, namespace: :admin, pagy: @pagy do |table| %>
    <% table.column(:show_date, header: "Show Date", date: true) %>
    <% table.column(:artist_name, header: "Artist") %>
    <% table.column(:venue_name, header: "Venue") %>
    <% table.column(:doors_open_at, date: true) %>
    <% table.column(:dinner_starts_at, date: true) %>
    <% table.column(:dinner_ends_at, date: true) %>
    <% table.column(header: "", sortable: false, cell_class: "text-right") do |show| %>
      <%= primary_link_to "Edit",
                          edit_admin_show_path(show),
                          data: { turbo_frame: "_top" },
                          class: "text-sm" %>
    <% end %>
  <% end %>
<% end %>
