<div class="bg-gray-50">
  <div class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Checkout</h2>

    <%= render "orders/form", { order: @form } %>
  </div>
</div>
