<h1 class="my-4 text-center text-3xl font-semibold"><%= @merch.name %></h1>

<div class="flex justify-center">
  <div class="max-w-4xl">
    <%= render "form", merch: @merch, merch_selection: @merch_selection %>
  </div>
</div>
