<div class="flex items-baseline justify-between">
  <div>
    <span class="mt-1 text-sm text-gray-500"><%= purchase.purchaseable.show_section.name %> x <%= purchase.quantity %></span> - <span class="text-sm font-medium"><%= number_to_currency(purchase.balance_paid) %></span>
  </div>
</div>
