<div id="<%= dom_id seating_chart %>">
  <% if action_name != "show" %>
    <%= link_to seating_chart.name, edit_admin_seating_chart_path(seating_chart), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
