<div id="<%= dom_id seating_chart %>">
  <% if action_name != "show" %>
    <%= link_to "Show this seating chart", admin_seating_chart_path(seating_chart), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%# <%= link_to 'Edit this seating chart', admin_seating_chart_path(seating_chart), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %> %>
    <hr class="mt-6">
  <% end %>
</div>
