<header>
  <nav class="flex items-center justify-center bg-gray-700 flex-wrap p-6">
    <button class="navbar-button mr-3">
      Concerts & Events
    </button>
    <button class="navbar-button">
        Coffee & Merch
    </button>
  </nav>
</header>